# Эти переменные общие

namespace:
  name: production

ingress:
  name: prod-ingress-nginx
  className: nginx
  path: /api

# Переменные для работы прложения application

app:
  name: prod-deploy-app
  replicaCount: 2
  container:
    name: prod-app
    port: 8000
  image:
    name: registry.gitlab.com/iluhaprogrammer/final-proc-app/app
    tag: latest
  resources:
    requests:
      cpu: 100m
      memory: 128mi
    limits:
      cpu: 200m
      memory: 256mi
  HPA:
    name: prod-hpa-app
    min: 2
    max: 5
    type: Resources
    target:
      type: Utilization
      avg: 50
  service:
    name: prod-service-app
    type: ClusterIP
    port: 80
  label:
    first: app
    second: prod
  configMap:
    name: prod-config-app
    values:
      APP_NAME: prod-app
      APP_STAGE: production
      LOG_LEVEL: info
      DEBUG: false

# Переменные для nginx

nginx:
  service:
    name: prod-service-nginx
    type: ClusterIP
    port: 90
  name: prod-deploy-nginx
  replicaCount: 1
  container:
    name: prod-nginx
    port: 80
  image:
    name: registry.gitlab.com/iluhaprogrammer/final-proc-app/nginx
    policy: IfNotPresent
    tag: latest
  resources:
    requests:
      cpu: 100m
      memory: 128mi
    limits:
      cpu: 200m
      memory: 256mi
  HPA:
    name: prod-hpa-nginx
    min: 1
    max: 3
    type: Resources
    target:
      type: Utilization
      avg: 50
  label:
    first: nginx
    second: prod

# ArgocD values

argocd:
  name: app-release
  namespace: argocd 
  url: https://github.com/IluhaProgrammer/ArgoCD-repo-final.git
  revision: main
  path: charts/app
  server_url: https://kubernetes.default.svc
